<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <h2 class="footer-heading"><a href="https://www.aei.org/"><img style="height:35px; text-align:center" src="/images/AEI.png"><a></h2>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
